* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* fundo */
body {
  background: linear-gradient(
    to bottom,
    #1a002b,
    lab(22.88% 45.5 -43.59),
    hsl(331, 40%, 51%)
  );

  color: #ffd6ee;
  overflow-x: hidden;
}

.stars {
  position: fixed;
  width: 100%;
  height: 100%;

  background-image:
    radial-gradient(white 1px, transparent 1px);

  background-size: 50px 50px;

  opacity: 0.2;
  z-index: -1;
}

/* cabeçalho */

.hero {
  height: 100vh;

  display: flex;
  flex-direction: column;
}

.hero-content {
  flex: 1;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  text-align: center;
  padding: 20px;
}

.hero-content h2 {
  font-size: 70px;
  margin-bottom: 20px;

  color: #ffd4f2;
}

.hero-content p {
  max-width: 700px;

  line-height: 1.8;
  font-size: 22px;
}

/* navbar */

.navbar {
  display: flex;

  justify-content: space-between;
  align-items: center;

  padding: 20px 10%;

  background: rgba(0,0,0,.3);
  backdrop-filter: blur(10px);
}

.navbar ul {
  display: flex;

  gap: 20px;
  list-style: none;
}

.navbar a {
  text-decoration: none;
  color: white;

  transition: .3s;
}

.navbar a:hover {
  color: #ff9bd2;
}

/* geral */

section {
  padding: 100px 10%;
}

section h2 {
  text-align: center;

  font-size: 45px;
  margin-bottom: 50px;

  color: #ffd4f2;
}

/* botoes */

button {
  margin-top: 30px;
  padding: 15px 35px;

  border: none;
  border-radius: 50px;

  background: linear-gradient(
    45deg,
    #ff5ebc,
    #c44dff
  );

  color: white;
  font-size: 18px;

  cursor: pointer;

  transition: .4s;

  box-shadow:
    0 0 20px rgba(255,255,255,.3);
}

button:hover {
  transform: scale(1.08);
}

/* sobre */

.sobre {
  display: flex;

  align-items: center;
  justify-content: center;

  gap: 50px;

  text-align: center;
}

.sobre p {
  margin-top: 20px;
  line-height: 1.8;
}

/* eternal */

.filme {
  text-align: center;
}

.filme img {
  width: 600px;
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.legenda {
  margin-top: 15px;
  font-size: 20px;
  font-style: italic;
}

/* cards */

.cards {
  display: grid;

  grid-template-columns:
    repeat(auto-fit, minmax(280px, 1fr));

  gap: 30px;
}

.card {
  background: rgba(255,255,255,.08);

  border-radius: 20px;
  overflow: hidden;

  backdrop-filter: blur(10px);

  transition: .4s;
}

.card:hover {
  transform:
    translateY(-10px)
    scale(1.02);
}

.card img {
  width: 100%;
  height: 300px;

  object-fit: cover;
}

.card-content {
  padding: 20px;
}

.card-content h3 {
  margin-bottom: 10px;

  color: #ffd4f2;
}

/* galeria */

.galeria-grid {
  display: grid;

  grid-template-columns:
    repeat(auto-fit, minmax(220px, 1fr));

  gap: 20px;
}

.galeria-grid img {
  width: 100%;
  height: 300px;

  object-fit: cover;

  border-radius: 20px;

  transition: .4s;
}

.galeria-grid img:hover {
  transform: scale(1.05);
}

/* msg */

.mensagem-final {
  text-align: center;
}

.mensagem-final p {
  font-size: 28px;
}

/* footer */

footer {
  padding: 30px;

  text-align: center;

  background: rgba(0,0,0,.3);
}

/* responsividade */

@media (max-width: 900px) {

  .sobre {
    flex-direction: column;
  }

  .hero-content h2 {
    font-size: 45px;
  }

  .hero-content p {
    font-size: 18px;
  }

  .navbar {
    flex-direction: column;
    gap: 20px;
  }

  .timeline {
    padding-left: 15px;
  }
}